.row-fluid
  %table.table.table-bordered.table-striped.table-data{'data-name' => @model.to_s}
    %thead
      %tr
        - @model.columns(:admin => true).each do |column|
          %th
            %a{:href => '#', :rel => 'tooltip', :title => column.type}
              = column.name.humanize
        %th
    %tbody
    %tfoot
      %tr
        - @model.columns(:admin => true).each do |column|
          %th
            %a{:href => '#', :rel => 'tooltip', :title => column.type}
              = column.name.humanize
        %th
