.page-header
  %h1 #{humanize(@model)}
.row-fluid
  %table.table.table-bordered.table-striped.table-data{'data-name' => @model.to_s, 'data-disabled-actions' => Array(@model.admin_option_value(:disabled_actions)).join(' ')}
    %thead
      %tr
        - @model.columns(:admin => true).each do |column|
          = render 'headers', :column => column
        %th
    %tbody
    %tfoot
      %tr
        - @model.columns(:admin => true).each do |column|
          = render 'headers', :column => column
        %th
