=semantic_form_for @resource, :url => {:action => :create}, :html => {:class => 'form-horizontal editform row-fluid'} do |f|
  %h1.offset2.span10 New #{@resource.class.name.underscore.humanize.downcase}
  =render 'form', :f => f
  .form-actions
    =submit_tag "Save", :class => "btn btn-primary"
    %a.btn{:href => url_for(:action => :index)} Cancel
