.showitem.row-fluid
  %h1.span10.offset2 #{@resource.class.name.underscore.humanize} record
  %table.table.table-bordered.table-striped.offset2.span10
    %thead
      %tr
        %th Field
        %th Value
    %tbody
      - @resource.attributes(:admin => true).each do |key, value|
      - value = raw(admin_parse_value(@resource, key))
        %tr
          %td #{key.humanize}
          %td
            - if @resource.class.admin_columns[key.to_sym] and @resource.class.admin_columns[key.to_sym][:wysiwyg] === true
              .wysiwyg.row-fluid
                .raw.well
                  #{raw(value)}
                  - unless @resource.class.admin_columns[key.to_sym] and @resource.class.admin_columns[key.to_sym][:showsource] === false
                    %a.label.label-info{:href => '#'} Show source
                .code
                  %pre.prettyprint.linenums #{value}
                  %a.label.label-info{:href => '#'} Show preview
            - else
              =value
.showitem
  .form-actions
    %a.btn.btn-primary{:href => url_for(:action => :edit)} Edit
    %a.btn{:href => url_for(:action => :index)} Back
