code,
pre {
  border-radius: 3px;
  color: #232527;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  padding: 0 3px 2px;
}

code {
  background-color: #f6f6f6;
  border: 1px solid #dde4e9;
  color: #232527;
  padding: 2px 4px;
  white-space: nowrap;

  &.jumbo {
    background: none;
    border: 0;
    color: #0c0;
    display: block;
    font-size: 20px;
    padding: 0;

    &.root:before {
      content: '# ';
    }

    &.user:before {
      content: '$ ';
    }
  }
}

pre {
  background-color: #fcfcfc;
  border: 1px solid #dde4e9;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  line-height: 20px;
  margin: 70px 50px;
  padding: 30px;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;

  code {
    background-color: transparent;
    border: 0;
    color: inherit;
    padding: 0;
    white-space: pre;
  }
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
