#dashboard
  .page-header
    %h1 Dashboard
  - admin_controllers.each_slice(3).each do |controller_group|
    .row-fluid
      - controller_group.each do |controller|
        .span4
          %table.table.table-striped.table-bordered
            %caption
              Last #{humanize(controller.controller_name)}
            %thead
              %tr
                - model_for(controller).columns(:admin => true)[0..3].each do |column|
                  = render 'headers', :column => column
            %tbody
              - model_for(controller).last(5).each do |item|
                %tr{'data-id' => item.id, 'data-url' => polymorphic_path(item, :action => 'admin')}
                  - item.attributes(:admin => true).values[0..3].each do |attr|
                    %td #{attr.to_s}
